body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./background.jpg');
}

#main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clientInfoNotAccumulated {
    overflow: auto;
    height: 125px
}

.button-collapse{
    color: black
}

.rowRanking {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ebebeb
}